<p id="notice"><%= notice %></p>

<h1>All Customers</h1>

<%= link_to 'New Customer', new_customer_path %>

<table>
  <!--
  <thead>
    <tr>
      <th>Full name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Image</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->

 <!-- <tbody>-->
    <% @customers.each do |customer| %>
      <br>
       <strong> <%= customer.full_name %></strong><br>
       <%= image_tag customer.image %><br>
       <strong>Phone:</strong> <%= customer.phone %><br></strong>
       <strong>Email:</strong> <%= customer.email %><br></strong>
       <strong>Notes:</strong> <%= customer.notes %><br></strong></strong>
        <br>
        
        
        
        
        
      <!-- <%= link_to 'Show', customer %>
        <%= link_to 'Edit', edit_customer_path(customer) %>
        <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %>-->
 
    <% end %>
  <!--</tbody>
</table>-->
<br>

